  
body {
    font-family: Avenir;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
  }
  #game {
    display: flex;
    justify-content: center;
  }
  #game > div > div {
    width: 30px;
    height: 30px;
    background: rgba(255, 0, 0, 0.5);
    border: 1px solid #000;
    text-align: center;
    line-height: 30px;
  }
